

/********** Basics **********/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;


}
*::-webkit-scrollbar {
    display: none;
}

html, body {
    width: 100%;
}

ul {
    list-style-type: disc;
    padding: 10px 0 !important;
    padding-left: 20px !important;
}

ul li {
    display: list-item;
    list-style-type: disc;
}

p, h1, h2 {
    padding: 5px;
}

/* Code block styling */
.code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    background-color: black;
    color: white;
    padding: 10px;
    white-space: pre-wrap;
    tab-size: 4;
}
.code-example {
    font-family:'Courier New', Courier, monospace;
    font-size: 14px;
    background-color: black;
    color: white;
    white-space: pre-line;
}
div.code-example {
    margin-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/********** Top bar *********/

#top-bar {
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
    bottom: calc(100% - 51px);
    right: 0;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid greenyellow;
}

.top-btn {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    height: 30px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
}

#btn-save {
    background-color: #7F0000;
}

#btn-load {
    background-color: #7F7F00;
}

#btn-sgts {
    background-color: #007F00;
}

#btn-help {
    background-color: #007F7F;
}

#btn-asm {
    background-color: #00007F;
}

#btn-run {
    background-color: #7F007F;
}

#save-link {
    text-decoration: none;
}

/********** Main page **********/

#wrapper {
    background-color: black;
    position: absolute;
    left: 0;
    top: 51px;
    bottom: 0;
    right: 0;
}

/********** Left side **********/

#left-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 50%;
    border: none;
    border-right: 2px solid greenyellow;
    overflow-y: scroll;
}

#linenos {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 7ch;
    text-align: right;
}

#pre-code {
    position: absolute;
    left: 7ch;
    top: 0;
    bottom: 0;
    right: 0;
    width: calc(100% - 7ch);
    border: none;
    outline: none;
}

/********** Right side **********/


#help {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    display: none;
    color: white;
    padding: 10;
}

#special-keys li {
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-line;
}

#asm-code {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
}

/********* Emulator **********/

#emulator {
    display: none;
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    padding: 10px;
}

#e-prgmi {
    display: none;
}

#emulator button {
    display: inline;
    border: none;
    outline: none;
    font-size: 14px;
    background-color: gray;
    color: white;
    padding: 5px;
    margin-top: 10px;
    margin-right: 10px;
}

#emulator pre {
    display: block;
    color: white;
    white-space: pre-line;
    margin-top: 10px;
}

span[contenteditable="true"] {
    border: 1px solid gray;
}

/* Syntax highlighting */

.h-err { /* error */
    color: #F44747;
}

.h-key { /* keyword */
    color: #D16969;
}

.h-opr { /* operator */
    color: #D4D4D4;
}

.h-bre { /* braces */
    color: #569CD6;
}

.h-var { /* variables */
    color: #9CDCFE;
}

.h-num { /* number */
    color: #B5CEA8;
}

.h-str { /* string */
    color: #CE9178;
}

.h-chr { /* char */
    color: #569CD6;
}

.h-esc { /* escaped char */
    color: #D7BA7D;
}

.h-fnc { /* functions */
    color: #DCDCAA;
}
